<body>
    <div class="indexBox container col-sm-10">
        <h6 class="title">All Habits</h6>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Duration</th>
              <th>Duration Left</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @habits.each do |habit| %>
              <tr>
                <td id="habit-title"><a href="/habits/<%= habit.id %>"><%= habit.title %></a></td>
                <td><%= habit.category.name %></td>
                <td><%= habit.duration %> day(s)</td>
                <td><%= habit.durationLeft %> day(s)</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <p id="notice"><%= notice %></p>
        <%= link_to 'New Habit', new_habit_path, class: 'new-habit btn btn-info' %>
    </div>
</body>